
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #212121;
    height: 100vh;
    font-family: "oswald";
}
/*PERFIL*/
.perfil h1{
    letter-spacing: 1px;
    color: white;
}

.perfil span{
    color:white;
}

#fecha{
    padding: 50px 0 5px 0;
    color: white;
}


/*agregar tarea*/

.agregar-tarea{
    background-color: white;
    border-radius: 15px;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 70px;
}

.agregar-tarea input{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: white;
}
.agregar-tarea i{
    font-size: 40px;
}


/*celular*/
@media screen and (max-width: 480px) {
  

}
/*tablet*/
@media screen and (min-width: 481px) and (max-width: 1023px) {
    
}
/*escritorio*/
@media screen and (min-width: 1024px) {
    
}